body, html {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: Arial, sans-serif;
}
#panda-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
}
#panda {
  width: 200px;
  height: auto;
  cursor: pointer;
  margin-bottom: 50px;
}