/* Основний фон та центрування */
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: stretch;
    background:var(--html-background-color);
}

/* Центрована колонка */
.column-center {
    width: 400px;
    background: var(--main-background-color);
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: fit-content;
}

/* Кнопка логіну */
.login {
    width: 90%;
    margin-bottom:20px;
    padding: 8px;
    font-size: 20px;
    font-family: "Special Gothic Expanded One", sans-serif;
    color: #000;
    background: #fff;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
}
.login-in:hover {
    background: var(--button-background-color);
    color: #fff;
    box-shadow: var(--button-box-shadow);
}
.login-in:focus {
    background: var(--button-background-color);
    color: #fff;
    box-shadow: var(--button-box-shadow);
    caret-color: transparent;
}
.login-button {
    background: var(--button-background-color);
    color: #fff;
    box-shadow: var(--button-box-shadow);
}
/* Для Edge/IE */
input::-ms-reveal,
input::-ms-clear {
    display: none;
}

/* Для Safari/Chrome */
input[type="password"]::-webkit-contacts-auto-fill-button {
    display: none;
}

/* Для Firefox */
input[type="password"]::-moz-placeholder {
    display: none;
}

/* Форма */
.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
<<<<<<< Updated upstream

  
=======
.error-message {
    color: var(--error-text-color);
    font-size: 10px;
    margin: 10px 0;
}
  
>>>>>>> Stashed changes
