/* Основний фон та центрування */
body {
    min-height: 100vh;
    display: flex;
    justify-content: left;
    align-items: stretch;
}

.column-left {
    width: 160px;
    height: 100vh;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 0 10px 10px 0;
    box-sizing: border-box;
    position: fixed;
}

.column-left-head {
    border-radius: 0 10px 0 0;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.logout{
    display: flex;
    align-items: center;
    font-size: 16px;
    color: var(--logout-button-color);
    height: 55px;
    position: fixed;
    bottom: 0px;      /* Відступ від низу */
    width:160px;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 10px 0;
}
.logout img{
    width: 25px;
    height: 25px;
    margin-right: 10px;
    margin-left: 30px;
}

.logout:hover{
    color: black;
    background-color: var(--logout-hover-background-color);
    transition: 0.3s;
}

.no-select {
    -webkit-user-select: none; /* Chrome, Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
    user-select: none;         /* Стандарт */
}

.content {
    margin-left: 160px; /* Відступ для колонки */
    padding: 20px;
    width: calc(100% - 160px); /* Вирахування ширини колонки */
    box-sizing: border-box;
    flex-direction: column;
    background-color: var(--content-background-color);
    align-items: center;
    justify-content: center;
<<<<<<< Updated upstream
    background-color: #f9f9f9; /* Світлий фон для контенту */
=======
    display: flex;
}
.logo {
    font-size: 24px;
    padding: 20px 20px 0px 20px;
    margin: 0;
}
.zaglushka {
    font-size: 60px;
    margin: 0;
>>>>>>> Stashed changes
}