:root {
    --html-background-color: #fafafa;
    --main-background-color: #fff;
    --button-background-color: #000;
    --button-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    --logout-button-color: gray;
    --error-text-color: red;
    --logout-hover-background-color: #f1f1f1;
    --content-background-color: #f9f9f9;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}